Source: a1epg 
Section: video
Priority: optional
Maintainer: Peter Gerhard, <swdmad@gmx.de>
XSBC-Original-Maintainer: Peter Gerhard <swdmad@gmx.de>
Build-Depends: python3, dh-python
X-Python3-Version: 3.7.3
Standards-Version: 4.5.1.0
Homepage: https://github.com/pitjup/a1epg
Vcs-Browser: https://github.com/pitjup/a1epg.git

Package: a1epg
Architecture: all
Depends: python3.7 (>= 3.7.3), ${misc:Depends}
Description: EPG grabber for austrian IPTV provider A1. This tool creates XML data, which can be used with tvheadend and kodi
